.enjoy{
    font-family: arial;
    font-size: 40px;
    letter-spacing: 5px;
    color:white;
    height: 70px;
    width: 450px;
    background-color: rgb(161, 26, 26);
    border-radius: 20px;
    padding: 10px;
font-weight: 600;
}
